.panel{
    margin-left: 20px;
}

.gameScore {
    font-family: "gameFont";
    font-size: 60px;
    
}

.slowdownEffectSeconds{
  background-image: url(../../../public/bonuses/slowdown.png);
  font-family: "gameFont";
  font-size: 60px;
  width: 60px;
  height: 60px;
}

.slowdownEffectSecondsText{
    margin-left: 80px;
}

.strengthEffectSeconds{
  background-image: url(../../../public/bonuses/strength.png);
  font-family: "gameFont";
  font-size: 60px;
  width: 60px;
  height: 60px;
}

.strengthEffectSecondsText {
    margin-left: 80px;
}