.deathModal {
    margin: 0 auto;
    height: 900px;
    width: 900px;
    display: flex;
    background-color: pink;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}



.loseText {
    margin: 0 auto;
    margin-top: 60px;
    font-family: "gameFont";
    font-size: 60px;
}

.score {
    margin: 0 auto;
    margin-top: 60px;
    font-family: "gameFont";
    font-size: 60px;
}

.restartButton {
    margin: 0 auto;
    margin-top: 200px;
    font-family: "gameFont";
    font-size: 60px;
    width: 400px;
    height: 150px;
    border: 5px solid black;

}

.restartButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menuButton {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "gameFont";
    font-size: 60px;
    width: 400px;
    height: 150px;
    border: 5px solid black;
}


.menuButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}