 .initial {
     margin: 0 auto;
     height: 900px;
     width: 900px;
     background-color: pink;
     border: 5px solid black;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-content: flex-start;
     justify-content: space-around;
 }

 .initial:hover {
     cursor: pointer;
 }

 .logo {
     margin: 0;
     margin-top: 370px;
     font-family: "gameFont";
     font-size: 60px;
     line-height: 50px;
     animation-name: approximation;
     animation-duration: 3s;
 }

 @keyframes approximation {
     0% {
         transform: scale(0.01);
     }

     100% {}
 }

 .prompt {
     margin: 0;
     margin-top: 70px;
     font-family: "gameFont";
     font-size: 20px;
     line-height: 50px;
     animation-name: emerging;
     animation-duration: 3s;
 }

 @keyframes emerging {
     0% {
         opacity: 0;
     }

     50% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }