.area {
    margin: 0 auto;
    height: 900px;
    width: 900px;
    display: flex;
    border: 5px solid black;
}

.element {
    width: 60px;
    height: 60px;
    background-color: pink;
}

.characterRed {
    background-image: url(../../../public/characters/character-red-60x60.png);
}

.characterGreen {
    background-image: url(../../../public/characters/character-green-60x60.png);
}

.characterBlue {
    background-image: url(../../../public/characters/character-blue-60x60.png);
}

.line {
    background-image: url(../../../public/line-block.png);
}

