.menuModal {
    margin: 0 auto;
    height: 900px;
    width: 900px;
    background-color: pink;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around
}

.characterText {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "gameFont";
    font-size: 60px;
    height: 100px;
    width: 900px;

}

.selected {
    outline: 15px solid rgb(255, 255, 255);
    outline-offset: 15px;
}

.character {
    width: 180px;
    height: 180px;
}

.red {
    background-image: url(../../../public/characters/character-red-180x180.png);
}

.green {
    background-image: url(../../../public/characters/character-green-180x180.png);
}

.blue {
    background-image: url(../../../public/characters/character-blue-180x180.png);
}

.character:hover {
    outline: 15px solid rgb(255, 255, 255);
    outline-offset: 15px;
    cursor: pointer;
}

.startButton {
    margin-top: 75px;
    font-family: "gameFont";
    font-size: 60px;
    width: 600px;
    height: 150px;
    border: 5px solid black;
}

.startButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.settingsButton {
    margin-top: 75px;
    font-family: "gameFont";
    font-size: 60px;
    width: 600px;
    height: 150px;
    border: 5px solid black;
}

.settingsButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.musicVolume {
    width: 600px;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.musicVolume::-webkit-slider-thumb {
    background: #ecf0f1;
    border: 5px solid rgb(0, 0, 0);
    cursor: pointer;
    width: 15px;
    height: 15px;
    transform: scaleY(3);
    -webkit-appearance: none;
}

.musicVolume::-webkit-slider-runnable-track {
    height: 15px;
    outline: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.musicVolumeText {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "gameFont";
    font-size: 30px;
}

.effectsVolume {
    width: 600px;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.effectsVolume::-webkit-slider-thumb {
    background: #ecf0f1;
    border: 5px solid rgb(0, 0, 0);
    cursor: pointer;
    width: 15px;
    height: 15px;
    transform: scaleY(3);
    -webkit-appearance: none;
}

.effectsVolume::-webkit-slider-runnable-track {
    height: 15px;
    outline: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.effectsVolumeText {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "gameFont";
    font-size: 30px;
}